/* login.component.css */

.login-container {
    max-width: 300px;
    margin:  auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  
  input[type="text"],
  input[type="otp"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  