<div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Customer Bill Data</h5>
        <form (ngSubmit)="submitForm()" #customerForm="ngForm" class="custom-form">
          <div class="form-group">
            <label for="customerName">Customer Name</label>
            <input type="text" class="form-control custom-input" id="customerName" name="customerName" [(ngModel)]="transaction.customer.name" required>
          </div>
  
          <div class="form-group">
            <label for="customerId">Customer ID</label>
            <input type="number" class="form-control custom-input" id="customerId" name="customerId" [(ngModel)]="transaction.customer.cid" required>
          </div>
  
          <div class="form-group">
            <label for="transactionId">transaction ID</label>
            <input type="number" class="form-control custom-input" id="transactionId" name="transactionId" [(ngModel)]="transaction.tId" required>
          </div>
  
          <div class="form-group">
            <label for="transactionMethod">Transaction Method</label>
            <input type="text" class="form-control custom-input" id="transactionMethod" name="transactionMethod" [(ngModel)]="transaction.transactionMethod" required>
          </div>
  
           <div class="form-group">
            <label for="unitConsumed">Unit Consumed</label>
            <input type="number" class="form-control custom-input" id="unitConsumed" name="unitConsumed" [(ngModel)]="transaction.unitConsumption" required>
          </div>
          
          <div class="form-group">
            <label for="totalAmount">Total Amount</label>
            <input type="number" class="form-control custom-input" id="totalAmount" name="totalAmount" [(ngModel)]="transaction.totalAmount" required>
          </div>

          <div class="form-group">
            <label for="discount">Discount</label>
            <input type="number" class="form-control custom-input" id="discount" name="discount" [(ngModel)]="transaction.discount" required>
          </div>
          
          <div class="form-group">
            <label for="billStartDate">Bill Start Date</label>
            <input type="date" class="form-control custom-input" id="billStartDate" name="billStartDate" [(ngModel)]="transaction.startDate" required>
          </div>
  
          <div class="form-group">
            <label for="billDueDate">Bill Due Date</label>
            <input type="date" class="form-control custom-input" id="billDueDate" name="billDueDate" [(ngModel)]="transaction.endDate" required>
          </div>
  
          <div class="form-group">
            <label for="rate">Rate</label>
            <input type="number" class="form-control custom-input" id="rate" name="rate" [(ngModel)]="transaction.rate" required>
          </div>
  
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control custom-input" id="email" name="email" [(ngModel)]="transaction.customer.emailId" required>
          </div>
  
          <div class="form-group">
            <label for="telephone">Telephone</label>
            <input type="number" class="form-control custom-input" id="telephone" name="telephone" [(ngModel)]="transaction.customer.phoneNumber" required>
          </div>
          <div class="form-group">
            <label for="status">Bill Status</label>
            <input type="text" class="form-control custom-input" id="status" name="status" [(ngModel)]="transaction.status" required>
          </div> 
          <div class="form-group">
            <label for="referenceNumber">referenceNumber</label>
            <input type="text" class="form-control custom-input" id="status" name="status" [(ngModel)]="transaction.referenceNumber" required>
          </div> 

  
          <button type="submit" class="btn btn-primary">Submit</button>


        </form>
      </div>
    </div>
  </div>
  
